<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>shoe shopping</title>
</head>
<body>
    <div class = "container">
        <h1>Brands</h1>

    <form action='/brands' method='post'>
        <label for='brand_name'>Brand Name</label>
        <input id='brand_name' name='brand_name' type='text'>

        <button type='submit'>Add Brand</button>
    </form>
</div>

</body>
</html>
